body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #000;
    overflow-x: hidden;
}

section {
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.container {
    width: 1200px;
}

/* SECTION - MENU */

#popup-menu {
    width: 100%;
    height: 106%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 9999;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    display: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    display: none;
}

.carousel-control.right {
    background-image: none;
    display: none;
    cursor: pointer;
}

.carousel-control.left {
    background-image: none;
    display: none;
    cursor: pointer;
}



.hg-wd a {
    font-weight: 600;
    color: #626262 !important;
    text-decoration: none;
}

.hg-wd ul {
    margin-top: 180px;
    margin-left: 300px;
}

.hg-wd li {
    margin-top: 45px;
}

.hg-wd ul a {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
}

.hg-wd .active a {
    border-bottom: 3px solid #fff;
    text-space: 10px;
    color: #fff !important;
}

.hg-wd img {
    margin-bottom: 5px;
}

.carousel-inner img {
    opacity: 0.9;
}

.close-menu {
    position: absolute;
    right: 200px;
    top: 50px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
    max-width: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}

.icone {
    position: absolute;
    z-index: 999;
    right: 200px;
    top: 50px;
    color: #fff;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 8px 0;
}

.icone a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.menu {
    height: 1000px;
}

.menu .float-left {
    height: 80px;
    width: 200px;
    z-index: 999;
    position: absolute;
    top: 35px;
}

.menu .float-right {
    z-index: 999;
    position: absolute;
    top: 35px;
    right: 200px;
}

.menu .carousel-indicators li {
    background-color: #000;
    width: 16px;
    height: 16px;
    margin-right: 25px;
}

.menu .carousel-indicators {
    bottom: 90px;
}

.menu .carousel-indicators .active {
    background-color: #fff;
}

.menu h1 {
    position: absolute;
    right: 222px;
    top: 395px;
    color: #fff;
    z-index: 999;
    font-size: 220px;
    font-weight: 400;
}

.menu p {
    position: absolute;
    right: 222px;
    top: 582px;
    color: #fff;
    z-index: 999;
    font-size: 64px;
    font-weight: 400;
    padding-top: 50px;
    letter-spacing: 3px;
}

/* SECTION FREE-PSD */

.free-psd {
    text-align: center;
    height: 670px;
}

.free-psd h2 {
    font-size: 60px;
    padding-top: 90px;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.free-psd h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 40px;
    color: #000;
}

.free-psd p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
}

.free-psd .phg2 {
    width: 85%;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5;
}

.free-psd hr {
    border: 2px solid black;
    width: 80px;
    margin-top: 45px;
    margin-bottom: 65px;
}

/* SECTION - AUDERY-HEPBURN */

.item {
    transition-property: opacity;
}

.item,
.active.left,
.active.right {
    opacity: 0;
}

.active,
.next.left,
.prev.right {
    opacity: 1;
}

.next,
.prev,
.active.left,
.active.right {
    left: 0;
}

.carousel-control {
    z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.carousel-indicators {
    bottom: 80px;
}

.audrey-hepburn ol li {
    width: 10px;
    height: 10px;
}

.audrey-hepburn {
    margin-top: 100px;
    height: 650px;
    background-color: #ffe9e2;
}

.audrey-hepburn h1 {
    width: 550px;
    margin-top: 140px;
    margin-left: 100px;
    line-height: 1.3;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}

.audrey-hepburn .float-left {
    width: 50%;
    float: left;
}

.audrey-hepburn img {
    float: right;
}

.audrey-hepburn .move-img {
    /*padding-right: 100px;*/
    /*padding-top: 60px;*/
}

.audrey-hepburn .float-right {
    width: 50%;
    float: right;
}

.audrey-hepburn p {
    margin-top: 60px;
    margin-left: 100px;
    font-size: 36px;
    font-weight: 300;
}

.audrey-hepburn li {
    border: 1px solid #999;
    border-radius: 50%;
    background-color: #ffe9e2;
}

.audrey-hepburn .carousel-indicators {
    left: 125px;
}

.audrey-hepburn .carousel-indicators .active {
    background-color: #999;
    width: 10px;
    height: 10px;
    margin: 1px;
}

/* SECTION - REASON */

.reason .container {
    width: 1400px;
}

.reason h1 {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    padding-top: 130px;
}

.reason hr {
    border: 2px solid;
    width: 80px;
    float: left;
    margin-top: 40px;
}

.reason .row {
    float: left;
    margin-top: 95px;
}

.reason .col-md-6 {
    border: 1px solid #eae9e7;
    width: 700px;
    height: 300px;
}

.reason .border1 {
    border-bottom: none;
    border-right: none;
}

.reason .border2 {
    border-bottom: none;
}

.reason .border3 {
    border-right: none;
}

.reason h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 55px;
    padding-left: 15px;
}

.reason h6 {
    width: 595px;
    padding-top: 45px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.reason p {
    font-size: 20px;
    font-weight: 400;
    padding-left: 15px;
}

.reason .up {
    padding-top: 10px;
}

.reason .down {
    padding-top: 40px;
}

.reason .col-md-12 {
    text-align: center;
}

.reason button {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    width: 280px;
    height: 60px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 65px;
    font-family: 'Montserrat', sans-serif;
}

.reason button:focus {
    outline: none;
}

/* SECTION - FORTH */

.forth {
    background: url("../img/hands.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 660px;
    opacity: 0.8;
    margin-top: 140px;
    color: #fff;
    text-align: center;
}

.forth h1 {
    font-size: 60px;
    font-weight: 700;
    padding-top: 205px;
    padding-bottom: 65px;
    width: 830px;
    margin: 0 auto;
    line-height: 1.3;
}

.forth p {
    font-size: 20px;
    font-weight: 400;
}

.forth a {
    color: #fff;
    text-decoration: underline;
}

/* SECTION - BUY-POSTERS */

.buy-posters .bk {
    opacity: 0.6;
}

.buy-posters .bk2 {
    opacity: 0.9;
}

.buy-posters .bk3 {
    opacity: 0.8;
}

.buy-posters .bk4 {
    opacity: 0.8;
}

.buy-posters {
    background-color: #f2f4f5;
    height: 1330px;
}

.buy-posters .container {
    width: 1400px;
}

.buy-posters h1 {
    margin-top: 105px;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

.buy-posters hr {
    border: 2px solid black;
    width: 80px;
    float: left;
}

.buy-posters .row {
    margin-top: 95px;
    float: left;
}

.buy-posters .verticaly {
    width: 560px;
    height: 765px;
    float: left;
}

.verticaly .txt {
    position: absolute;
    top: 0;
    padding-top: 205px;
    padding-left: 120px;
    line-height: 1.1;
}

.verticaly h2 {
    font-family: "Tw Cen MT Condensed";
    font-weight: 600;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    color: #fff;
}

.verticaly button {
    position: absolute;
    bottom: 40px;
    left: 30px;
    border: hidden;
    background-color: inherit;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.verticaly button:focus {
    outline: none;
}

.verticaly a {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
}

.verticaly .img {
    margin-left: 10px;
}

.buy-posters .horizontaly {
    width: 740px;
    height: 370px;
    float: right;
}

.buy-posters .horizontaly button {
    position: absolute;
    bottom: 40px;
    left: 55px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 175px;
    height: 55px;
    background-color: inherit;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.horizontaly button:focus {
    outline: none;
}

.buy-posters .horizontaly a {
    position: absolute;
    right: 30px;
    bottom: 55px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}

.buy-posters .horizontaly .img {
    margin-left: 10px;
}

.horizontaly h3 {
    position: absolute;
    top: 90px;
    left: 80px;
    max-width: 320px;
    line-height: 1.1;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    font-family: "Times New Roman";
}

.horizontaly h6 {
    position: absolute;
    top: 185px;
    left: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia;
}

.buy-posters .left1 {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    height: 340px;
    width: 330px;
}

.buy-posters .left1 button {
    position: absolute;
    bottom: 20px;
    left: 35px;
    border: none;
    background-color: initial;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.left1 button:focus {
    outline: none;
}

.buy-posters .left1 a {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}

.buy-posters .left1 .img {
    margin-left: 10px;
}

.buy-posters .right1 {
    float: right;
    margin-top: 50px;
    height: 340px;
    width: 330px;
}

.buy-posters .right1 button {
    position: absolute;
    bottom: 20px;
    left: 35px;
    border: none;
    background-color: initial;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.right1 button:focus {
    outline: none;
}

.buy-posters .right1 a {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}

.buy-posters .right1 .img {
    margin-left: 10px;
}

.left1 h3 {
    position: absolute;
    top: 35px;
    left: 105px;
    max-width: 145px;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Sedgwick Ave Display', cursive;
}

.right1 h3 {
    position: absolute;
    top: 170px;
    left: 95px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.right1 span {
    font-weight: 700;
    font-size: 37px;
    line-height: 1.1;
}

.buy-posters .col-md-12 {
    text-align: center;
}

.buy-posters .col-md-12 button {
    margin-top: 90px;
    background: inherit;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 280px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.buy-posters .col-md-12 button:focus {
    outline: none;
}

/* SECTION - FOOTER */

.footer {
    height: 540px;
}

.footer .container {
    width: 1400px;
}

.footer h1 {
    margin-top: 125px;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.footer ul {
    margin-top: 60px;
}

.footer li {
    margin-top: 22px;
}

.footer li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.footer a {
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
}

.footer p {
    margin-top: 60px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    max-width: 245px;
    letter-spacing: 2px;
    line-height: 1.8;
}

.footer .pheight {
    line-height: 1.3;
}

.footer input {
    width: 338px;
    height: 40px;
    background: #f2f4f5;
    padding: 10px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}

.footer input:focus {
    outline: none;
}

.footer button {
    width: 130px;
    height: 40px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
}

.footer button:focus {
    outline: none;
}

/* SECTION - LAST FOOTER */

.last-footer {
    background-color: #eee;
    height: 95px;
    padding: 45px 0;
}

.last-footer .container {
    width: 1400px;
}

.last-footer p {
    font-family: 'Montserrat', sans-serif;
    float: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
}

.last-footer ul {
    float: right;
}

.last-footer li {
    display: inline-block;
    margin-right: 10px;
}

.last-footer a {
    color: #d5d5d3;
    text-decoration: none;
    font-size: 16px;
}

/* RESPONSIVE - LAPTOPS */

@media only screen
and (min-width: 1030px) and (max-width: 1366px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    /* MENU */
    #container {
        width: 1366px;
    }

    .menu .carousel-inner img {
        width: 100%;
        height: 1000px;
    }

    #popup-menu {
        height: 151%;
    }

    /* AUDREY-HEPBURN */
    .lp-respons {
        width: 100%;
        height: 650px;
    }

    /* REASONS */
    .reason .col-md-6 {
        border: 1px solid #eae9e7;
        width: 663px;
        height: 300px;
    }

    .border1, .border3 {
        margin-left: 12px;
    }

    /* BUY-POSTERS */
    .buy-posters .bk4 {
        width: 100%;
    }

    .verticaly button {
        position: absolute;
        bottom: 70px;
        left: 40px;
        border: hidden;
        background-color: inherit;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: 'Montserrat', sans-serif;
    }

    .verticaly a {
        position: absolute;
        bottom: 70px;
        right: 40px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .buy-posters .bk3 {
        width: 100%;
    }

    .buy-posters .horizontaly {
        width: 740px;
        height: 370px;
        float: left;
    }

    .buy-posters .horizontaly .wdth {
        width: 94.5%;
        margin-left: 60px;
    }

    .horizontaly h3 {
        position: absolute;
        top: 90px;
        left: 100px;
        max-width: 320px;
        line-height: 1.1;
        font-size: 36px;
        font-weight: 700;
        font-style: italic;
        font-family: "Times New Roman";
    }

    .horizontaly h6 {
        position: absolute;
        top: 185px;
        left: 100px;
        font-size: 20px;
        font-weight: 400;
        font-family: Georgia;
    }

    .buy-posters .horizontaly button {
        position: absolute;
        bottom: 45px;
        left: 100px;
        border: 2px solid #fff;
        border-radius: 5px;
        width: 175px;
        height: 55px;
        background-color: inherit;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: 'Montserrat', sans-serif;
    }

    .buy-posters .horizontaly a {
        position: absolute;
        right: 40px;
        bottom: 60px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
    }

    .buy-posters .left1 {
        float: left;
        margin-top: 10px;
        margin-left: 60px;
    }

    .buy-posters .right1 {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
    }

    /* FOOTER */
    .footer input {
        width: 270px;
    }

    /* LAST - FOOTER */
    .last-footer ul {
        float: right;
        margin-right: 75px;
    }
}

/* MOBILE RESPONSIVE */

@media only screen
and (min-width: 320px) and (max-width: 480px) {

    #container {
        overflow-x: hidden;
    }

    section {
        width: 100%;
    }

    /* MENU */
    .menu {
        height: 320px;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        display: inherit;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        display: inherit;
    }

    .carousel-control.right {
        background-image: none;
        display: inherit;
    }

    .carousel-control.left {
        background-image: none;
        display: inherit;
    }

    #myCarousel a {

    }

    .menu h1 {
        position: absolute;
        right: 100px;
        top: 135px;
        font-size: 36px;
    }

    .menu p {
        position: absolute;
        right: 0px;
        top: 130px;
        max-width: 205px;
        font-size: 30px;
    }

    .float-left img {
        width: 55%;
    }

    .menu .carousel-indicators {
        bottom: 25px;
    }

    .menu .carousel-inner img {
        width: 100%;
        height: 310px;
    }

    #popup-menu {
        width: 100%;
        height: 310px;
    }

    .carousel-inner .item {
        height: 50%;
    }

    .carousel-inner .item {
        height: 400px;
    }

    .icone {
        position: absolute;
        z-index: 999;
        right: 15px;
        top: 40px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        padding: 3px 0;
    }

    .icone a {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .close-menu {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .menu .carousel-indicators li {
        background-color: #000;
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }

    .hg-wd li {
        margin-top: 10px;
    }

    .hg-wd ul {
        margin-top: 90px;
        margin-left: 45px;
    }

    .hg-wd ul a {
        font-size: 15px;
    }

    .close-menu img {
        width: 30%;
    }

    .close-menu {
        max-width: 50px;
        font-size: 8px;
        position: absolute;
        right: 15px;
        top: 40px;
    }

    /* FREE - PSD */
    .free-psd {
        text-align: left;
    }

    .free-psd h2 {
        padding-top: 30px;
        font-size: 32px;
    }

    .free-psd h1 {
        font-size: 32px;
    }

    .free-psd p {
        font-size: 15px;
        text-align: left;
        width: 25%;
    }

    .free-psd .phg2 {
        float: left;
        width: 25%;
    }

    .free-psd hr {
        margin-left: 0;
    }

    /* AUDREY - HEPBURN */
    .audrey-hepburn {
        margin-top: 20px;
    }

    .audrey-hepburn .float-left {
        float: left;
        width: 100%;
    }

    .audrey-hepburn h1 {
        font-size: 20px;
        margin-left: 25px;
        margin-top: 25px;
        width: 90%;
    }

    .audrey-hepburn p {
        font-size: 15px;
        margin-left: 20px;
    }

    .audrey-hepburn img {
        width: 185%;
        height: 290px;
        float: right;
        margin-right: 10px;
        margin-top: 25px;
    }

    .audrey-hepburn ol li {
        width: 13px;
        height: 13px;
    }

    .audrey-hepburn .carousel-indicators {
        left: 160px;
        bottom: 35px;
    }

    .audrey-hepburn .carousel-indicators .active {
        background-color: #999;
        width: 13px;
        height: 13px;
        margin: 1px;
    }

    /* REASON */
    .reason .container {
        width: 100%;
    }

    .reason .row {
        margin-top: 65px;
    }

    .reason h1 {
        font-size: 30px;
        padding-top: 50px;
    }

    .reason h2 {
        font-size: 25px;
    }

    .reason h6 {
        font-size: 15px;
        width: 240px;
    }

    .reason .col-md-6 {
        border: 1px solid #eae9e7;
        width: 310px;
        height: 290px;
        margin-left: 7px;
    }

    .reason .border1 {
        border-bottom: none;
    }

    .reason .border2 {
        border-bottom: none;
    }

    .reason .border3 {
        border-bottom: none;
    }

    .reason button {
        margin-left: 15px;
        margin-top: 55px;
    }

    /* FORTH */
    .forth {
        margin-top: 80px;
        height: auto;
    }

    .forth h1 {
        font-size: 30px;
        width: 332px;
        padding-top: 40px;
    }

    .forth p {
        font-size: 17px;
        padding-bottom: 40px;
    }

    /* BUY-POSTERS */
    .buy-posters .container {
        width: 100%;
    }

    .buy-posters {
        background-color: #f2f4f5;
        height: 1590px;
        width: 100%;
    }

    .buy-posters h1 {
        font-size: 35px;
        margin-top: 60px;
    }

    .buy-posters .img4 {
        width: 100%;
        float: right;
        margin-right: 8px;
    }

    .buy-posters .row {
        float: inherit;
    }

    .buy-posters .col-md-6 {
        float: left;
        clear: both;
    }

    .buy-posters .col-md-3 {
        float: left;
        clear: both;
    }

    .buy-posters .verticaly {
        width: 335px;
        height: 420px;
    }

    .verticaly h2 {
        font-size: 35px;
    }

    .verticaly .txt {
        position: absolute;
        top: 100px;
        left: 60px;
        padding-top: 0;
        padding-left: 0;
        line-height: 1.1;
    }

    .verticaly button {
        font-size: 13px;
    }

    .verticaly a {
        font-size: 10px;
    }

    .buy-posters .horizontaly {
        width: 336px;
        height: 165px
    }

    .horizontaly h3 {
        font-size: 20px;
        position: absolute;
        top: 5px;
        left: 32px;
        max-width: 250px;
    }

    .horizontaly h6 {
        position: absolute;
        top: 65px;
        left: 28px;
        font-size: 13px;
    }

    .buy-posters .horizontaly button {
        position: absolute;
        bottom: 20px;
        left: 30px;
        width: 105px;
        height: 30px;
        font-size: 13px;
    }

    .buy-posters .horizontaly a {
        position: absolute;
        right: 41px;
        bottom: 25px;
        font-size: 10px;
    }

    .buy-posters .left1 {
        float: left;
        margin-top: 0;
        margin-left: 0;
        height: 263px;
        width: 337px;
        margin-bottom: 20px;
    }

    .buy-posters .right1 .img {
        margin-left: 0;
    }

    .buy-posters .left1 .img {
        margin-left: 0;
    }

    .buy-posters .horizontaly .img {
        margin-left: 0;
    }

    .buy-posters .verticaly .img {
        margin-left: 0;
    }

    .buy-posters .img {
        width: 20%;
        margin-left: 0;
    }

    .buy-posters .left1 button {
        position: absolute;
        top: 275px;
        left: 20px;
        font-size: 13px;
        bottom: 20px;
        border: none;
        background-color: initial;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: 'Montserrat', sans-serif;
    }

    .buy-posters .left1 a {
        position: absolute;
        right: 30px;
        top: 275px;
        font-size: 10px;
    }

    .buy-posters .right1 {
        margin-top: 40px;
        height: 335px;
        width: 336px;
    }

    .buy-posters .right1 button {
        position: absolute;
        bottom: 30px;
        left: 20px;
        font-size: 13px;
    }

    .buy-posters .right1 a {
        position: absolute;
        right: 30px;
        bottom: 30px;
        font-size: 10px;
    }

    .buy-posters .col-md-12 {
        float: left;
    }

    .buy-posters .col-md-12 button {
        margin-top: 40px;
    }

    /* FOOTER */
    .footer {
        height: auto;
    }

    .footer input {
        width: 255px;
    }

    .footer button {
        display: block;
    }

    .footer h1 {
        margin-top: 75px;
    }

    .footer ul {
        margin-top: 45px;
    }

    .footer li {
        margin-top: 20px;
    }

    .footer button {
        margin-bottom: 15px;
    }

    /* LAST - FOOTER */
    .last-footer {
        padding: 0;
    }

    .last-footer p {
        font-size: 15px;
        max-width: 290px;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 10px;
        clear: both;
    }

    .last-footer ul {
        float: left;
        clear: both;
        margin-top: 20px;
        margin-left: 20px;
    }

    .last-footer a {
        color: #d5d5d3;
        text-decoration: none;
        font-size: 20px;
    }

}

